@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
}


body{
    height: 100vh;/*definindo a altura da tela, ocupa toda a altura da tela*/
    box-sizing: border-box;/* faz que os elementos filhos permaneçam sempre dentro do elemento pai*/
    background-color: #000000;
    color: #F6F6F6;
}

.apresentacao {
    margin: 10%;
    display: flex;
    align-items: center;/* alinha os itens*/
    justify-content: space-between;
}

.apresentacao__conteudo{
    width: 615px;
}

.apresentacao__conteudo__titulo {
    font-family: 'Krona One', sans-serif;
    font-size: 36px;
}

.apresentacao__conteudo__texto {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

.titulo-destaque {
    color: #22D4FD;
}

